doctype html
html(lang='en')
  head
    title Document
  body
    div
      h1 Hi #{user.userName}
      h2 Email is #{user.email}
      h3 Address is #{user.Address}
      a(href='http://ec2-13-58-234-143.us-east-2.compute.amazonaws.com:3000/users/login/show') Login
