doctype html
html(lang='en')
  head
    title Document
  body
    div
      h1 Email Already Exists. Please Try Some Other MailID.
      a(href='hhttp://ec2-13-58-234-143.us-east-2.compute.amazonaws.com/users/signup/show') SignUp
