doctype html
html(lang='en')
  head
    title Jade
  body
    form(method='post',action='http://ec2-13-58-234-143.us-east-2.compute.amazonaws.com/users/signup')
      div
       p
        label
          b First Name : &nbsp;
        input(type='text', placeholder='Enter FirstName', name='firstName', required='')
        br

       p
        label
          b Last Name : &nbsp;
        input(type='text', placeholder='Enter lastName', name='lastName', required='')
        br

       p
        label
          b Email : &nbsp;
        input(type='text', placeholder='Enter Email', name='email', required='')
        br

       p
        label
          b Password : &nbsp;
        input(type='password', placeholder='Enter Password', name='password', required='')
        br

       p
        label
          b Address : &nbsp;
        input(type='textarea', placeholder='Address', name='address')

       p
        div
          button.signupbtn(type='submit') Sign Up &nbsp;&nbsp;&nbsp;&nbsp;
          a(href='http://ec2-13-58-234-143.us-east-2.compute.amazonaws.com/users/login/show') Login
